<!doctype html>
<title>ARQcheros - Software libre para arqueología</title>
  <p>
    <b>¡BIENVENIDO/A A ARQcheros!</b>
  </p>
    <p> Aplicación web para registrar, listar, ordenar, filtrar y visualizar datos arqueológicos. </p>
  <p><a href="/admin/">Click para comenzar</a> </p>
<img src="{{ url_for('static',filename = 'arqcheros.jpg') }}" width="600" height="400" alt="by Agus" title="by Agus" border="0">
